spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
  output:
    ansi:
      enabled: ALWAYS

logging:
  level:
    web: info

server:
  port: 8086



